.background-image {
  background: rgb(2,0,36);
  background: linear-gradient(
    180deg,
    rgba(37,66,104,1) 0%,
    rgba(37,66,104,1) 10%,
    rgba(247,238,178,1) 78%
  );
}

.navigation-flags {
  width: 20%;
}