#custom-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#frontpage-language-flags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#frontpage-language-flags ion-img {
    width: 70%;
    &:hover { cursor: pointer; }
}

.app-title {
    margin-left: 25%;
}