<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button color="primary" menu="menu"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let zone of zones; let i = index">
    <ion-card *ngFor="let place of zone.places; let j = index">
      <ion-card-header (click)="goTo(i, j)">
        <img src="../../assets/images/{{place.photo}}">
        <ion-card-title>{{place.name}}</ion-card-title>
        <ion-card-subtitle>{{zone.zone}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- <ion-card *ngFor="let zone of zones; let i = index">
      <img src="../../assets/images/{{zone.places[i].photo}}" />
      <ion-card-header  routerLink="/vegueta11">
        <ion-card-title>{{zone.places[i].name}}</ion-card-title>
        <ion-card-subtitle>{{zone.zone}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Statue in honor of Néstor Álamo...
      </ion-card-content>
    </ion-card> -->



</ion-content>